<div class="profile-head">
  <h1>My Profile</h1>
  <img src="<%= @profile.profile_picture_path%>" alt="">
</div>

<h2>About Me:</h2>
<div class="profile-infos"><%= @profile.info %></div>

<h2>My Posts:</h2>
<div class="profile-posts">
  <% current_user.posts.each do |post| %>
    <div class="profile-post"><%= render post %></div>
  <% end %>
</div>
