<div class="profile-head">
  <h1>My Profile</h1>
  <img src="<%= session[:profile_picture]%>" alt="">
</div>

<%= render 'form' %>

<strong><h2>My Posts:</h2></strong>
<div class="posts">
  <% current_user.posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>
