    <% if like = post.likes.find { |like| like.user == current_user } %>
      <%= button_to 'â¤ï¸', like_path(like.id), method: :delete %>
    <% else %>
      <%= button_to 'ðŸ–¤', likes_path(user_id: current_user.id, post_id: post.id), method: :post %>
    <% end %>
    <% num_likes = post.likes.size > 0 ? post.likes.size : nil %>
    <div class="num_likes"><%= num_likes %></div>
