<div class="post-image-container">
  <div class="post-image"><%= post.body %></div>
</div>
<div class="post-info">
  <div class="post-title"><strong><%= post.title %></strong></div>
  <div class="post-author"><%= post.user.name %></div>
</div>
