<h1>Recent Posts</h1>

<div id="posts">
  <% @display_posts.each do |post| %>
    <div class="post">
      <div class="post-infos">
        <%= render post %>
        <%= link_to "Show this post", post %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
