<div class="categories">
</div>

<div class="posts">
  <% @display_posts.each do |post| %>
    <%= link_to post_path(post) do %>
      <div class="post">
        <%= render post %>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
