.post-infos {
  width: 50%;
  padding: 10px;
}

.post {
  border: 1px solid gray;
  display: flex;
  padding: 10px;
}

.likes {
  display: flex;
  align-items: center;
}

.num_likes {
  margin-left: 5px;
}
