.post-infos {
  width: 50%;
  padding: 10px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.post {
  flex-grow: 1;
  display: grid;
  grid-template-rows: 3fr 2fr;
  grid-template-columns: 1fr;
  justify-content: center;
  min-width: 30vh;
  min-height: 200px;
  height: 30vh;
}

.post-image-container {
  min-height: 150px;
  min-width: 200px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
}

.likes {
  display: flex;
  align-items: center;
}

.num_likes {
  margin-left: 5px;
}
