.posts {
  border: 2px solid blue;
  padding: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.profile-head {
  display: flex;
  align-items: center;
}

textarea {
  resize: none;
  width: 220px;
  height: 176px;
}
