.profile-posts {
  padding: 10px;
}

.profile-post {
  padding: 10px;
  border: 2px solid gray;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.profile-head {
  display: flex;
  align-items: center;
}

textarea {
  resize: none;
}
