.user-info {
  display: flex;
  flex-direction: column;
}

.profile-head {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20pxj;
}

.profile-head h1 {
  font-size: 2.5em;
  margin: 0px;
}

.profile-head img {
  box-sizing: border-box;
  min-width: 180px;
  padding: 10px;
}

.profile-head .profile-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

textarea {
  resize: none;
}
